<div class='road__header'>
    <img class='road__background' src='https://api.mapbox.com/styles/v1/sammorris12/cjg3x2nfp79wx2rmusxzi63ir/static/-81.84370,38.27568,5.5,0,0/1280x800@2x?access_token=pk.eyJ1Ijoic2FtbW9ycmlzMTIiLCJhIjoiY2pnM3gwMGZmMjNubjJ3cDk1dXB2aDlkcyJ9.C_WFHWBdqpXAZCAijwSnYQ&attribution=false&logo=false' />
    <div class='gs-container'>
        <h1 class='road__headline' itemprop='headline'>Across the divide<span>On the road with my Trump-loving cousin</span></h1>
        <p class='road__byline'>by Bryan Mealer</p>

        {{> templates/helpers/share }}
    </div>
</div>