<div class='road__header'>
    <div class='road__header-map'>
        
    </div>

    <div class='gs-container'>
        {{> templates/partials/photo photo='hat' name='header-1' }}
        {{> templates/partials/photo photo='pose' name='header-2' }}

        <div class='road-content'>
            <h1 class='road__headline' itemprop='headline'>Can't we all just get&nbsp;along?<span>A road trip with my Trump-loving cousin</span></h1>
            <p class='road__byline'>by <a href='https://www.theguardian.com/profile/bryan-mealer'>Bryan Mealer</a></p>

            {{> templates/helpers/share }}
        </div>
    </div>
</div>