.road-content {
    max-width: 620px;

    @include mq(leftCol) {
        margin-left: 160px;
    }

    @include mq(wide) {
        margin-left: 240px;
    }

    p {
        position: relative;
        z-index: 2;
        font-family: 'Guardian Text Egyptian Web';
        font-size: 16px;
        line-height: 24px;
        color: $c-black;
        margin-bottom: 18px;

        &.credits {
            font-family: 'Guardian Sans Web';
            color: $c-light-red;
        }
    }

    a {
        color: $c-light-red;
        border-bottom: 1px solid mix($c-dark-red, $c-background, 30%);
        transition: color 0.3s linear, border 0.3s linear;

        &:hover {
            color: $c-dark-red;
            border-bottom-color: $c-dark-red;
            text-decoration: none;
        }
    }

    hr {
        border: 0;
        height: 1px;
        width: 50%;
        background-color: $c-grey;
        margin-left: 0;
    }
}

.road__drop-cap {
    font-family: 'Guardian Egyptian Web';
    font-weight: 200;
    font-style: italic;
    display: inline-block;
    text-transform: uppercase;
    float: left;
    color: $c-dark-red;
    margin-right: 6px;
    height: 4.3em;
}

.road__drop-inner {
    font-size: 5.2em;
    line-height: 0.79;
}

.road-article__image {
    position: relative;
    z-index: 5;
    width: 200px;
    float: left;
    margin-right: 20px;
    transform: rotate(-12deg);

    @include mq(leftCol) {
        margin-left: -120px;
    }

    &--echo {
        transform: rotate(4deg);
        float: right;
        margin-left: 20px;

        @include mq(leftCol) {
            margin-right: -160px;
        }
    }

    &--coffee {
        float: right;
        margin-left: 20px;
        margin-bottom: 12px;

        @include mq(tablet) {
            width: 360px;
        }

        @include mq(leftCol) {
            margin-right: -160px;
        }
    }

    &--hannity {
        margin-top: 18px;
        transform: rotate(-6deg);

        @include mq(tablet) {
            width: 300px;
        }

        @include mq(leftCol) {
            margin-left: -160px;
        }
    }
}

.road__article {
    .gs-container {
        padding-top: 36px;
    }

    .road__photo {
        margin-top: 0;
        float: right;
        margin-left: 20px;
        margin-bottom: 20px;

        @include mq(leftCol) {
            margin-right: -120px;
        }

        &--article-2 {
            transform: rotate(3deg);
        }

        &--article-5,
        &--article-3 {
            float: left;
            margin-top: 6px;
            transform: rotate(-5deg);
            margin-right: 20px;

            @include mq(leftCol) {
                margin-left: -160px;
            }
        }

        &--article-4 {
            transform: rotate(5deg);
        }

        &--article-5 {
            transform: rotate(3deg);
        }
    }
}
