.road__divider {
    position: relative;
    margin-top: 64px;

    &:after {
        content: '';
        background: radial-gradient(circle at center, rgba(248,241,231, 0) 50%, $c-background 70%), url('@@assetPath@@/assets/images/map.svg');
        background-size: auto, 600%;
        width: 264px;
        height: 264px;
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        transform: translate(-33%, -33%);

        @include mq(tablet) {
            width: 306px;
            height: 306px;
        }

        @include mq(leftCol) {
            left: -130px;
            top: -8px;
        }
    }
}

.road__divider-day {
    position: relative;
    z-index: 2;
    background-color: $c-black;
    border-radius: 60px;
    width: 88px;
    height: 88px;
    margin: 0;

    @include mq(tablet) {
        width: 102px;
        height: 102px;
    }

    @include mq(leftCol) {
        position: absolute;
        left: -130px;
        top: -8px;
    }
}

.road__divider-label {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 12px;
    font-family: 'Guardian Egyptian Web';
    font-weight: normal;
    font-style: italic;
    color: $c-light-red;
    font-size: 16px;

    @include mq(tablet) {
        font-size: 18px;
        bottom: 14px;
    }
}

.road__divider-number {
    position: absolute;
    top: 14px;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    display: inline-block;
    font-family: 'Guardian Figures';
    font-size: 48px;
    line-height: 1;
    margin: auto;
    color: $c-white;

    @include mq(tablet) {
        font-size: 54px;
        top: 16px;
    }
}

.road__divider-header {
    position: relative;
    z-index: 2;
    font-family: 'Guardian Egyptian Web';
    font-size: 24px;
    line-height: 1.2;
    font-weight: bold;
    margin: 0;

    @include mq(tablet) {
        font-size: 38px;
        line-height: 1.1;
        margin-bottom: 8px;
    }
}

.road__divider-title {
    color: $c-light-red;
    display: block;
}

.road__divider-location {
    color: $c-black;
}