.road__header {
    position: relative;
    overflow: hidden;

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        z-index: 1;
        background: linear-gradient(transparent 50%, $c-background 70%);

        @include mq(tablet) {
            background: linear-gradient(transparent 60%, $c-background 80%);
        }
    }

    .gs-container {
        padding-top: 33%;
        position: relative;
        z-index: 2;

        &:before {
            background: linear-gradient(transparent 60%, $c-grey 80%) !important;
        }
    }
}

@keyframes route {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes pan {
    0% {
        transform: scale(1.5);
        transform-origin: bottom left;
    }

    100% {
        transform: scale(1);
        transform-origin: center center;
    }
}

$curve: cubic-bezier(0, 0, 0.3, 1);
$time: 8s;

.road__header-map {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;

    svg {
        width: 100%;
        animation: pan $time $curve forwards;
        will-change: transform;
    }

    #Land {
        fill: $c-background;
    }

    #Water path {
        fill: darken($c-background, 3%);
    }

    #parks path {
        opacity: 1;
        fill: mix($c-black, $c-background, 5%);
    }

    #states path {
        stroke: $c-light-red;
        stroke-dasharray: 2;
    }

    #road path {
        stroke: mix($c-black, $c-background, 10%);
    }

    #cities text {
        font-family: 'Guardian Egyptian Web';
        font-style: italic;
        font-size: 1.2em;
        fill: #676767;
        display: none;
    }

    .road__map-label {
        font-family: 'Guardian Egyptian Web';
        font-weight: 900;
        font-size: 2.4em;
        fill: $c-black;

        @include mq(tablet) {
            font-size: 1.4em;
        }
    }

    #route {
        stroke: #ac1917;
        stroke-dasharray: 2010;
        stroke-dashoffset: 2010;
        animation: route $time $curve forwards;
        animation-delay: 0.5s;
    }

    .road__point {
        fill: $c-black;
        stroke: $c-background;
        stroke-width: 2;
    }

    .road__point--start,
    .road__point--end {
        fill: $c-red;
    }
}

.road-map__place {
    opacity: 0;
}

@keyframes fade {
    to {
        opacity: 1;
    }
}

.road-map__place {
    animation: fade 0.4s linear forwards;
}

.road-map__place--1 {
    animation-delay: .5s;
}

.road-map__place--2 {
    animation-delay: .8s;
}

.road-map__place--3 {
    animation-delay: 1.1s;
}

.road-map__place--4 {
    animation-delay: 2s;
}

.road-map__place--5 {
    animation-delay: 2.5s;
}

.road-map__place--6 {
    animation-delay: 3.5s;
}

.road-map__place--7 {
    animation-delay: 3.7s;
}

.road-map__place--8 {
    animation-delay: 4.5s;
}

.road-map__place--9 {
    animation-delay: 5.9s;
}

.road-map__place--10 {
    animation-delay: 7.4s;
}

.road__headline,
.road__byline {
    @include mq(leftCol) {
        margin-left: 160px;
    }

    @include mq(wide) {
        margin-left: 240px;
    }
}

.road__headline {
    color: $c-light-red;
    font-family: 'Guardian Egyptian Web';
    font-weight: bold;
    font-size: 24px;
    line-height: 1.2;
    margin: 0;

    @include mq(desktop) {
        font-size: 62px;
        line-height: 1;
    }

    span {
        color: $c-dark-red;
        font-style: italic;
        font-weight: 200;
        display: block;
    }
}

.road__byline {
    color: $c-black;
    font-family: 'Guardian Egyptian Web';
    font-weight: bold;
    font-size: 18px;
    line-height: 1.2;
    padding: 6px 0;
    margin-top: 0 !important;

    @include mq(desktop) {
        padding-top: 12px;
    }
}