.road__photo {
    max-width: 400px;
    margin: 40px 0;
}

.road__photo-frame {
    position: relative;
    background-color: $c-white;
    height: 0;
    padding-top: 120%;
}

.road__image {
    position: absolute;
    top: 20px;
    left: 20px;
    width: calc(100% - 40px);
}