.road-share {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;

    .svg {
        fill: $c-red;
        width: 100%;
        height: 100%;
        margin: auto;
    }
}

.road-share__button {
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 4px;
    border-radius: 40px;
    border: 1px solid rgba(0, 0, 0, 0.2);

    &:hover {
        background-color: $c-red;
        border-color: $c-red;

        .svg {
            fill: $c-white;
        }
    }
}
